<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createsubGroupForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="subGroup.id">{{l("Edit Product Subgroup")}}: {{subGroup.productSubGroupName}}</span>
                        <span *ngIf="!subGroup.id">{{l("Create Product Subgroup")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modal_processing" *ngIf="processed_image">
                        Processing...
                        <div class="loader">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" *ngIf="subGroup.id">
                            <div class="col-md-12 imgCont">
                                            <span >
                                                <img width="135" height="100" *ngIf="subGroup.path" src="{{path+'/'+subGroup.path}}" class="img-product" />
                                            </span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top: 15px;">
                                    <input type="file" ng2FileSelect [uploader]="uploader" />
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="subGroup.id ? 'col-md-10' : 'col-md-12'">
                            <div class="col-md-2" *ngIf="subGroup.id">
                                &nbsp;
                            </div>
                            <div class="col-md-10">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':subGroup.productSubGroupCode}" [(ngModel)]="subGroup.productSubGroupCode" required>
                                    <label>{{l("Product Subgroup Code")}} <required_field></required_field> </label>
                                </div>

                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="name" [ngClass]="{'edited':subGroup.productSubGroupName}" [(ngModel)]="subGroup.productSubGroupName" required>
                                    <label>{{l("Product Subgroup Name")}} <required_field></required_field> </label>
                                </div>
                                <div class="form-group" style="padding-top:20px;">
                                    <label>Product Group <required_field></required_field></label>
                                    <ng-select [allowClear]="true" [active]="active_subgroup" [items]="product_group" (selected)="doSomething($event)" (removed)="removeProduct($event)" placeholder="Nothing is selected">
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createsubGroupForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>