<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createInfotypeForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- <h4 class="modal-title">
                        Create Info
                    </h4> -->
					<h4 class="modal-title">
                        <span *ngIf="infotype.id">{{l("Edit Info Type")}}: {{infotype.contactName}}</span>
                        <span *ngIf="!infotype.id">{{l("Create Info Type")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="contactName" [ngClass]="{'edited':infotype.contactName}" [(ngModel)]="infotype.contactName" required>
                        <label>{{l("Name")}} </label>
                    </div>
                    <div class="md-radio-list" style="margin-left: 10%; margin-top: 24px;">
                                        <div class="md-radio" *ngFor="let option  of custype" style="padding-right: 100px; width: auto; display: inline-block;">
                                            <input id="EditUser_{{option}}"  type="radio" class="md-radio" name="price" [(ngModel)]="custselect"
                                [checked]="option == selectedOption"
                                value= {{option}}>
                                            <label for="EditUser_{{option}}">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                {{option}}
                                            </label>
                                        </div>
                                    </div>
            
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createInfotypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>