<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <form *ngIf="active" #createUserTargetForm="ngForm" novalidate (ngSubmit)="save()">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            <span *ngIf="!userTarget.id">{{l("Create User Target")}}</span>
                            <span *ngIf="userTarget.id">{{l("Edit User Target")}}: {{month}}</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4"> 
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>{{l("Choose Month")}}  <required_field></required_field></label>
                                    <my-monthpicker id="monthPicker" name="monthpicker" value={{month}} (dateChange)="onDateChange($event)"></my-monthpicker>
                                    <!-- <label>{{l("Choose Year")}}  <required_field></required_field></label>
                                    <my-datepicker (dateChange)="onDateChange($event)"  name="yearpicker_t" [(ngModel)]="yearVal" ></my-datepicker> -->
                                </div>
                            </div>
                            <div class="col-md-4" style="top: 24px;"> 
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input  class="form-control" type="tel" name="targetuser" [(ngModel)]="userTarget.targetAmount" [ngClass]="{'edited':userTarget.targetAmount}" (ngModelChange)="getTotalAmount()" (keydown)="check($event)" required min=0 maxlength="2">
                                    <label>{{l("TargetAmount %")}}  <required_field></required_field></label>
                                </div>
                            </div>
                            <div class="col-md-4" style="top: 24px;"> 
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input  class="form-control" type="number" name="targettotal" [(ngModel)]="userTarget.total" [ngClass]="{'edited':userTarget.total}" required min=0 >
                                    <label>{{l("Total")}}  <required_field></required_field></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!createUserTargetForm.valid || !userTarget.validityDate" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>