<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createpricelevelForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="PriceLevel.id">{{l("Edit Price Level")}}: {{PriceLevel.priceLevelName}}</span>
                        <span *ngIf="!PriceLevel.id">{{l("Create Price Level")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':PriceLevel.priceLevelCode}" [(ngModel)]="PriceLevel.priceLevelCode" required>
                        <label>{{l("Price Level Code")}}  <required_field></required_field></label>

                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="name" [ngClass]="{'edited':PriceLevel.priceLevelName}" [(ngModel)]="PriceLevel.priceLevelName" required>
                        <label>{{l("Price Level Name")}}  <required_field></required_field></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createpricelevelForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>