<div [@routerTransition] id="pager">
    <div class="row margin-bottom-5"><br>
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Company</span> <small>Details</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button *ngIf="isGranted('Pages.Tenant.AddressBook.Company.Create')" (click)="createCompany()" class="btn btn-primary blue">
                <i class="fa fa-plus"></i> {{l("Create Company")}}
            </button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autocomplete="off" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getData()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="customerTypeTable">

                <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                    <p-dataTable #dataTable
                                 (onLazyLoad)="getData($event)"
                                 [value]="primengDatatableHelper.records"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="true"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 [responsive]="primengDatatableHelper.isResponsive">
                        <!-- <p-footer>
                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                        </p-footer> -->

                        <p-column field=""
                                  header="{{l('Actions')}}"
                                  [sortable]="false"
                                  styleClass="width-percent-15"
                                >
                            <ng-template let-record="rowData" pTemplate="body">
                                <div class="btn-group dropdown">
                                    <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                            data-toggle="dropdown"
                                            tooltip="{{l('Actions')}}"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a *ngIf="isGranted('Pages.Tenant.AddressBook.Company.Edit')" (click)="editCompany(record)">{{l('Edit')}}</a>
                                        </li>
                                        <li>
                                            <a *ngIf="isGranted('Pages.Tenant.AddressBook.Company.Delete')" (click)="deleteCompany(record)">{{l('Delete')}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="companyName" header="{{l('Name')}}" [sortable]="true">
                            <ng-template let-record="rowData" pTemplate="body">
                            <span>
                                {{record.companyName}}

                            </span>
                            </ng-template>
                        </p-column>


                        <p-column field="customerTypeName" header="{{l('Type')}}" [sortable]="true">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.customerTypeName}}

                            </span>
                            </ng-template>
                        </p-column>

                        <p-column field="currencyCode" header="{{l('Currency')}}" [sortable]="true">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.currencyCode}}

                            </span>
                            </ng-template>
                        </p-column>
                        <p-column field="countryCode" header="{{l('Country')}}" [sortable]="true">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.countryCode}}

                            </span>
                            </ng-template>
                        </p-column>


                    </p-dataTable>
                    <div class="primeng-paging-container">
                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     #paginator
                                     (onPageChange)="getData($event)"
                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                    <span class="total-records-count">
                        {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                    </span>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>
<createCompanyModal #createCompanyModal (modalSave)="getData()">
</createCompanyModal>