<div [@routerTransition] id="pager">
    <div class="row margin-bottom-5"><br>
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Activity Type</span><small> Details ({{activityTypes.length}})</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right" >
            <button *ngIf="isGranted('Pages.Tenant.Master.ActivityType.Create')" class="btn btn-primary blue" (click)="createActivity()"><i class="fa fa-plus"></i> Create Activity Type </button>
        </div>
    </div>

    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">

           
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <div class="input-group">
                                            <input [(ngModel)]="filter" name="filter" (keyup.enter)="getActivity()"  autocomplete="off" autoFocus class="form-control"  [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                           <button  (click)="getActivity()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="list-group">

                <a *ngFor="let activity of activityTypes" href="javascript:;" class="list-group-item">
                   <!--  <div style="float:left;">
                        <canvas id="myCanvas" width="15" height="15" style="border:1px solid #d3d3d3;border-radius: 10px;" [ngStyle]="{'background-color': activity.colorCode}"></canvas>
                    </div> -->
                    
                        <h4 class="list-group-item-heading">
                            {{activity.code}}
                            <button *ngIf="isGranted('Pages.Tenant.Master.ActivityType.Edit')" (click)="editActivity(activity)" title="{{l('Edit')}}" class="btn btn-circle btn-icon-only green edit-person">
                                <i class="icon-pencil"></i>
                            </button>
                            <button *ngIf="isGranted('Pages.Tenant.Master.ActivityType.Delete')" (click)="deleteActivity(activity)" title="{{l('Delete')}}" class="btn btn-circle btn-icon-only red delete-person">
                                <i class="icon-trash"></i>
                            </button>
                        </h4>
                        <p class="list-group-item-text">
                            {{activity.name}}
                        </p>
                   
                </a>
            </div>

        </div>
    </div>
    <createActivityModal #createActivityModal (modalSave)="getActivity()"></createActivityModal>
</div>