<div [@routerTransition] id="pager">
    <div class="row margin-bottom-5"><br>
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Contact Details</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <!--<button (click)="createContact()" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("Create Contact")}}</button>-->
            <button *ngIf="isGranted('Pages.Tenant.AddressBook.Contact.Create')" (click)="createContact()" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("Create Contact")}}</button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autocomplete="off" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getContact()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                    <p-dataTable #dataTable
                                 (onLazyLoad)="getContact($event)"
                                 [value]="primengDatatableHelper.records"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 [responsive]="primengDatatableHelper.isResponsive">
                        
                        <p-column field=""
                                  header="{{l('Actions')}}"
                                  [sortable]="false"
                                  [style]="{'width':'75px'}"
                                >
                            <ng-template let-record="rowData" pTemplate="body">
                                <div class="btn-group dropdown">
                                    <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                            data-toggle="dropdown"
                                            tooltip="{{l('Actions')}}"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a *ngIf="isGranted('Pages.Tenant.AddressBook.Contact.Edit')" (click)="editContact(record)">{{l('Edit')}}</a>
                                        </li>
                                        <li>
                                            <a *ngIf="isGranted('Pages.Tenant.AddressBook.Contact.Delete')" (click)="deleteContact(record)">{{l('Delete')}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="title" header="{{l('Title')}}" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                            <span>
                                {{record.title}}

                            </span>
                            </ng-template>
                        </p-column>
                        <p-column field="ContactName" header="{{l('First Name')}}" [sortable]="true">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.contactName}}

                            </span>
                            </ng-template>
                        </p-column>
                        <p-column field="Last Name" header="{{l('Last Name')}}" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.lastName}}

                            </span>
                            </ng-template>
                        </p-column>
                        <p-column field="CompanyName" header="{{l('Company Name')}}" [sortable]="true">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.companyName}}

                            </span>
                            </ng-template>
                        </p-column>
                        <p-column field="Customer Type" header="{{l('Contact Type')}}" [sortable]="true">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.customerTypeName}}

                            </span>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                    <div class="primeng-paging-container">
                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     #paginator
                                     (onPageChange)="getContact($event)"
                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                        </span>
                    </div>
                </div>
        </div>
    </div>
    <createNewContactModal #createNewContactModal (modalSave)="getContact()">
    </createNewContactModal>
</div>