<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="width:70% !important">
        <div class="modal-content">
            <form *ngIf="active" #createcontactForm="ngForm" novalidate (ngSubmit)="save(createcontactForm)">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close(createcontactForm)" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="contact.id">{{l("Edit Contact")}}: {{contact.contactPersonName}}</span>
                        <span *ngIf="!contact.id">{{l("Create Contact")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <!--<div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>Company</label>
                                <select #titleCombobox id="yourDropDownElementId" name="title" class="form-control" [(ngModel)]="SelectedCId" [attr.data-live-search]="true" (change)="doSomethingCompany(SelectedCId)" jq-plugin="selectpicker" required>
                                        <option [value]="SelectedCId">{{SelectedCName}}</option> 
                                        <option *ngFor="let company of companys" [value]="company.companyId">{{company.companyName}}</option> 
                                    </select>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
					    <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                               <!--  <label>Title <required_field></required_field></label> -->
                                <ng-select [allowClear]="true" [items]="title" [disabled]="disabled" (data)="refreshTitle($event)" (removed)="removedTitle($event)" (selected)="selectedTitle($event)" placeholder="No Title selected">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':contact.name}" [(ngModel)]="contact.name" required>
                                <label>{{l("First Name")}} <required_field></required_field></label>
                            </div>
                        </div>
						<div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="name" [ngClass]="{'edited':contact.lastName}" [(ngModel)]="contact.lastName" required>
                                <label>{{l("Last Name")}} <required_field></required_field></label>
                            </div>
                        </div>

                    </div>
                    <div class="row">  
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>Contact Type <required_field></required_field></label>
                                <ng-select [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshCustomerTypeValue($event)" (removed)="removedCustomerType($event)" (selected)="selectedCustomerType($event)" placeholder="No Contact Type selected">
                                </ng-select>
                                <!--<i *ngIf="plusvalid" style="top: 35px;left: 520px;position: absolute; z-index: 1000;color:green;" class="fa fa-plus-circle" aria-hidden="true" (click)="saveCountry()" title="Update"></i>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>Company Name <required_field></required_field></label>

                                <ng-select [allowClear]="true" [active]="act_comp" [items]="itemss" [disabled]="comp_disabled" (data)="refreshCompany($event)" (removed)="removedCompany($event)" (keyup)="typedCompany($event)" (selected)="selectedCompany($event)" placeholder="No Company selected">
                                </ng-select>
                                <i *ngIf="plusvalid" style="top: 35px;left: 520px;position: absolute; z-index: 1000;color:green;" class="fa fa-plus-circle" aria-hidden="true" (click)="saveCountry()" title="Update"></i>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close(createcontactForm)">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createcontactForm.form.valid || !contact.companyId || !contact.customerTypeId" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>