<div [formGroup]="adressForm">
    <div class="row" style=" margin-right:20px;">
        
        <div class="col-xs-4 noPaddingR" style="">
            
                <!--<label>Type</label>-->
                <ng-select [items]="companytypes" [active]="active_company" [allowClear]="true" (data)="refreshValue($event,adressForm)">
                </ng-select>
                <input type="hidden" formControlName="typeid" value="">
                <input type="hidden" formControlName="company">
                <!--<select #milesourceCombobox id="yourDropDownElementId" name="source" class="form-control" formControlName="typeid" [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                            <option value="">{{emptyText}}</option>
                            <option value="1">Home</option>
                            <option value="2">Company</option>
          </select>-->
          <input type="hidden" formControlName="id">
           
        </div>
        <div class="form-group col-xs-4 noPaddingR" style="padding-left: 5px;">
            <!--<label>Address 1</label>-->
            <input type="text" class="form-control" formControlName="street">

        </div>
        <div class="form-group col-xs-4" style="padding: 0 5px;">
            <!--<label>Address 2</label>-->
            <input type="text" class="form-control" formControlName="postcode">
        </div>
        <!-- <div class="col-xs-3 noPaddingL noPaddingR" >
            
                <label>City</label>
                <ng-select [active]="active_location" [allowClear]="true" [items]="location" [disabled]="companyEnable" (selected)="selectedLocation($event,adressForm,location)" (removed)="removedLocation($event,adressForm)" (typed)="typedLocation($event,adressForm)" >
                </ng-select>
                <i *ngIf="LocText" style="top: 35px;left: 120px;position: absolute; z-index: 1000;color:green;" class="fa fa-plus-circle" aria-hidden="true" (click)="saveLocation()" title="Update"></i>
                <input type="hidden" formControlName="cityid" value="">
                <select #milesourceCombobox id="yourDropDownElementId" name="source" class="form-control" formControlName="cityid" [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                            <option value="">{{emptyText}}</option>
                            <option value="1">NagerCoil</option>
                            <option value="2">Marthandam</option>
                            <option value="3">Thakalai</option>
          </select>
           
        </div> -->
        <!-- <div class="col-xs-3 noPaddingR">
            <input type="text" class="form-control" formControlName="country">
        </div> -->
    </div>
</div>